.choice{
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.choice button{
    margin-right: 10px;
    padding: 10px;
}

.about-us{
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

table, td{
    border: 1px solid black;
}

.table{
    background-color: rgba(134, 133, 133, 0.7);
    border: 1px solid #34903f;
    border-radius: 5px;
    color: white;
    max-width: 320px;
    margin: auto;
}

.table h3{
    text-align: center;
}