.container{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #34903f;
    color: rgb(134, 133, 133);
    background-color: rgba(134, 133, 133, 0.7);
    border-radius: 5px;
}

.title{
    background-color: #34903f;
    padding: 5px;
    text-transform: uppercase;
    color: white;
}

.value{
    color: white;
}