<form [formGroup]="hotelsForm" class="add-room">
  <h3>Dodaj sobu</h3>
  <div class="field">
    <label for="type">Tip sobe:</label>
    <input type="text" id="type" #roomtype formControlName="type">
  </div>
  <div *ngIf="hotelsForm.controls['type'].invalid && (hotelsForm.controls['type'].dirty || hotelsForm.controls['type'].touched)">
    <div *ngIf="$any(hotelsForm.controls['type']).errors.required">
      <p>Tip sobe nije Validan</p>
    </div>    
    <div *ngIf="$any(hotelsForm.controls['type']).errors?.['minlength']">      
      <p>Mora da ima min 6 karaktera</p>
    </div>
  </div>
  <div class="field">
    <label for="floor">Sprat:</label>
    <input type="text" id="floor" #floor>
  </div>
  <div class="field">
    <input type="checkbox" (click)="klimaValue = 'klima'" id="klima">
    <label for="klima">Klima</label>
    <input type="checkbox" (click)="barValue = 'bar' " id="bar">
    <label for="bar">Mini Bar</label>
    <input type="checkbox" (click)="saunaValue = 'sauna'" id="sauna">
    <label for="sauna">Sauna</label>
  </div>
  <div  *ngIf="klimaValue === 'klima'">Klima je selektovana, racun uvecan za X dinara</div>
  <div  *ngIf="barValue === 'bar'">Mini Bar je selektovan, racun uvecan za X dinara</div>
  <div  *ngIf="saunaValue === 'sauna'">Sauna je selektovana, racun uvecan za X dinara</div>

  <button (click)="addRoom(roomtype, floor)">
    Dodaj sobu
  </button>
</form>

<div class="show-room">
  <app-room *ngFor="let room of rooms" [room]="room"></app-room>
</div>

<div class="bar">
  <app-barcomponent></app-barcomponent>
</div>
<div class="di">
  <app-di></app-di>
</div>

<div class="http">

<form action="" class="container mt-5 pt-5" [formGroup]="postForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="type">Tip</label>
    <input type="text" class="form-control" formControlName="type" name="title">
  </div>
  <div class="form-group">
    <label for="type">Sprat</label>
    <input type="text" class="form-control" formControlName="floor" name="floor">
  </div>
  <div class="form-group">
    <label for="type">Cena</label>
    <input type="text" class="form-control" formControlName="price" name="price">
  </div>
  <div class="form-group">
    <label for="type">ID</label>
    <input type="text" class="form-control" formControlName="id" name="id">
  </div>
  <div class="col button-holder d-flex justify-content-center align-item-center mt-4">
    <button class="btn btn-success" type="submit" name="submit">Dodaj</button>
  </div>
</form>

</div>

<div class="mt-5 pt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tip</th>
        <th scope="col">Sprat</th>
        <th scope="col">Cena</th>
        <th scope="col">Get</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts, index as i;">        
        <td scope="row">{{post.id}}</td>
        <td scope="row">{{post.type}}</td>
        <td scope="row">{{post.floor}}</td>
        <td scope="row">{{post.price}}</td>
        <td scope="row">
          <button (click)="getPost(post.id)" type="button" class="btn btn-primary">Get Post</button>
        </td>
        <td scope="row">
          <button (click)="deletePost(post.id)" type="button" class="btn btn-danger">Delete Post</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>